19.1/p28933775_R12_GENERIC/28933775/sca_MISIMDOMNotifySPM_rev6.9/WADLs/PostPromoOrdersSPM.wadl

<?xml version='1.0' encoding='UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="http://www.oracle.com/spm" xmlns:tns="http://xmlns.oracle.com/oih/oracle_integration_message" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PostPromoOrdersSPM">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://xmlns.oracle.com/oih/oracle_integration_message" schemaLocation="../xsd/SPMSubscription.xsd"/>
      </xsd:schema>
   </grammars>
   <resources>
      <resource path="/spm/ws/com.oracle.oal.spm.ProvisioningPayloadWS">
         <method name="POST" soa:wsdlOperation="PostMessage">
            <request>
               <param name="sentToProvisioning" style="query" soa:expression="&quot;Y&quot;" default="Y" type="xsd:string"/>
               <param name="planCreation" style="query" soa:expression="&quot;Y&quot;" default="Y" type="xsd:string"/>
               <representation mediaType="application/xml" element="cns:ORACLE_INTEGRATION_MESSAGE" xmlns:cns="http://xmlns.oracle.com/oih/oracle_integration_message"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:ORACLE_INTEGRATION_MESSAGE" xmlns:cns="http://xmlns.oracle.com/oih/oracle_integration_message"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
